@page "{restaurantId}"
@model OdeToFood.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2>Delete!</h2>
    <div class="alert alert-danger">
        Are you sure tou want to delete @Model.Restaurant.Name?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
    </form>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</body>
</html>
